[Unit]
Description=Neobytesd Docker Container
Documentation=https://github.com/neobytes-project/docker-neobytesd
After=network.target docker.socket
Requires=docker.service


[Service]
RestartSec=10
Restart=always

# Modify IP6_PREFIX to match network config
Environment="NAME=neobytesd"
Environment="DATA_VOL=neobytesd-data"
Environment="IMG=neobytes/neobytesd:latest"
Environment="PORT=1428:1428/tcp"

# To override environment variables, use local configuration directory:
# /etc/systemd/system/docker-neobytesd.service/local.conf
# http://www.freedesktop.org/software/systemd/man/systemd.unit.html

# Clean-up bad state if still hanging around
ExecStartPre=-/usr/bin/docker rm -f $NAME

# Attempt to pull new image for security updates
ExecStartPre=-/usr/bin/docker pull $IMG

# Main process
ExecStart=/usr/bin/docker run --rm -v ${DATA_VOL}:/neobytes --name ${NAME} -p ${PORT} ${IMG} nby_oneshot $ARGS

[Install]
WantedBy=multi-user.target
